<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <p>@TempData["Error"]</p>
        <hr />
        <p>
            <a asp-controller="Account" asp-action="Login">Nhấn vào để trở lại trang đăng nhập</a>.
        </p>
    </div>
</div>